.drop-shadow {
    box-shadow: 0 0 0 0, 0 6px 12px rgba(34, 34, 34, 0.4);
}

$sizings: (
    'none' : 0,
    'xs': 0.3125rem,
    'sm': 0.3125rem,
    'md': 0.9375rem,
    'lg': 1.25rem,
    'xl': 1.563rem,
);

@each $name,
$size in $sizings {
    .font-size-#{$name} {
        font-size: #{$size} !important;
    }
    .margin-#{$name} {
        margin: #{$size} !important;
    }
    .margin-top-#{$name} {
        margin-top: #{$size} !important;
    }
    .margin-bottom-#{$name} {
        margin-bottom: #{$size} !important;
    }
    .margin-left-#{$name} {
        margin-left: #{$size} !important;
    }
    .margin-right-#{$name} {
        margin-right: #{$size} !important;
    }
    .margin-tb-#{$name} {
        margin: {
            top: #{$size} !important;
            bottom: #{$size} !important;
        }
    }
    .margin-lr-#{$name} {
        margin: {
            left: #{$size} !important;
            right: #{$size} !important;
        }
    }
    .no-padding {
        padding: 0 !important;
    }
    .no-padding-top {
        padding-top: 0 !important;
    }
    .no-padding-bottom {
        padding-bottom: 0 !important;
    }
    .padding-#{$name} {
        padding: #{$size} !important;
    }
    .padding-top-#{$name} {
        padding-top: #{$size} !important;
    }
    .padding-bottom-#{$name} {
        padding-bottom: #{$size} !important;
    }
    .padding-left-#{$name} {
        padding-left: #{$size} !important;
    }
    .padding-right-#{$name} {
        padding-right: #{$size} !important;
    }
    .padding-tb-#{$name} {
        padding: {
            top: #{$size} !important;
            bottom: #{$size} !important;
        }
    }
    .padding-lr-#{$name} {
        padding: {
            left: #{$size} !important;
            right: #{$size} !important;
        }
    }
}